<div class="w-full h-fit">

  <div>
    <ul id="lists" data-controller="sortable" class="grid grid-cols-3 gap-4">
        <% @lists.each do |list| %>
            <li data-sortable-update-url="<%= sort_list_path(list) %>">
                <%= render list %>
            </li>
        <% end %>
    </ul>
  </div>

  <div class="flex justify-center my-8">
    <%= button_to new_list_path, method: :get, params: { user_id: current_user.id }, data: { turbo_frame: 'modal' }, class: "add-list" do %>
      <%= heroicon('plus') %>
    <% end %>
  </div>

</div>
